tmp
spec/reports
coverage

*.gem
InstalledFiles
*.rbc
.config
rdoc
snoo.sublime-project
test/version_tmp
lib/bundler/man
.bundle
snoo.sublime-workspace
doc/
.DS_Store
.yardoc
_yardoc
Gemfile.lock
test/tmp
pkg